
<div class="container">
<div class="row">
<div class="col-3" *ngFor="let r of residences">
<div class="card" style="width: 18rem;" >
    <img [src]="r.image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{r.name}}</h5>
        <p class="card-text">{{r.address}}</p>
        <button class="btn btn-primary" (click)="showApartment(r)">Show apartments</button>
    </div>
</div>
</div>
</div>
<div class="row">
    <table class="table" *ngIf="listApartmentsFiltred.length >0">
        <thead>
            <tr>
                <th>Num appart</th>
                <th>Floor Num</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of listApartmentsFiltred">
            <td>{{a.appartNum}}</td>
            <td>{{a.floorNum}}</td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="listApartmentsFiltred.length == 0">
        No apartments found
    </div>
</div>
</div>