<!--<input class="form-control" [formControl]="name">
<input type="submit" value="Ajouter" (click)="TestAdd()">-->

<form [formGroup]="residence">
    Name :<input class="form-control" formControlName="name">

<div class="alert alert-danger" *ngIf="name!.invalid && 
                        (name!.touched || name!.dirty)">
    <div *ngIf="name!.errors!['required']">Name is required</div>
    <div *ngIf="name!.errors!['minlength']">Name must have at least 3 characters!</div>
</div>

    Address :<input class="form-control" formControlName="address">


    <!--<div formGroupName="address">
        Street : <input class="form-control" formControlName="street">
      
        City : <input class="form-control" formControlName="city">
        <div class="alert alert-danger" *ngIf="city!.invalid && 
                                        (city!.touched || city!.dirty)">
            <div *ngIf="city!.errors!['pattern']">city invalid</div>
        </div>
    </div>-->
    Image :<input class="form-control" formControlName="image">
    <!-- Parking : 
    <input type="radio" name="parking" formControlName="parking" value="oui">Oui
    <input type="radio" name="parking" formControlName="parking" value="non">Non
    Category : 
    <select formControlName="category" class="form-control">
        <option value="basic">Basic</option>
        <option value="hautstanding">Haut standing</option>
        <option value="hautstanding++">Haut standing ++</option>
    </select>
    <div formArrayName="appartments">
        <button (click)="addControl()">+</button>
        <div *ngFor="let a of appartments.controls;let i =index">
            <input class="form-control" [formControlName]="i">
        </div>
    </div>
    <div formArrayName="jardin">
        <div *ngFor="let a of jardin.controls;let i =index">
            <input type="checkbox" [formControlName]="i">
        </div>
    </div> -->
    <input type="submit" value="Ajouter" (click)="TestAdd()" [disabled]="residence.invalid">
    
</form>
<!--<button (click)="ajoutControl()"> add Control</button>-->