<form [formGroup]="appartement">
  <div class="mb-3">
    Apprt Number :
    <input class="form-control" formControlName="appartNumber" />
    <div class="alert alert-danger" *ngIf="appartNumber!.invalid && (appartNumber!.touched || appartNumber!.dirty)">
        <div *ngIf="appartNumber!.errors!['required']">Appart Number is required !</div>
        <div *ngIf="appartNumber!.errors!['pattern']">Appart number accept only numbers!</div>
    </div>
  </div>
  <div class="mb-3">
    Floor Number:
    <input class="form-control" formControlName="floorNumber" />
    <div class="alert alert-danger" *ngIf="floorNumber!.invalid && (floorNumber!.touched || floorNumber!.dirty)">
        <div *ngIf="floorNumber!.errors!['required']">floorNumber is required !</div>
        <div *ngIf="floorNumber!.errors!['pattern']">floorNumber accept only numbers!</div>
    </div>
  </div>
  <div class="mb-3">
    Surface:
    <input class="form-control" formControlName="surface" />
  </div>
  <div class="mb-3">
    Terace :
    <input formControlName="terace" type="radio" value="oui" />oui
    <input formControlName="terace" type="radio" value="non" />non
  </div>
  <div class="mb-3" *ngIf="terace!.value == 'oui'">
    Surface Terace :
    <input class="form-control" formControlName="surfaceTerace" />
  </div>
  <div class="mb-3">
    Category :
    <input formControlName="category" type="radio" value="s+1" />s+1
    <input formControlName="category" type="radio" value="s+2" />s+2
    <input formControlName="category" type="radio" value="s+3" />s+3
  </div>
  <div class="mb-3">
    Description:
    <textarea class="form-control" formControlName="description"></textarea>
  </div>
  <div class="mb-3">
    Residence :
    <input class="form-control" formControlName="residence" />
  </div>
  <div class="mb-3"><input type="submit" value="add" class="btn btn-primary"/></div>
</form>
